/* this is for the button component */
.button {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: pink;
    box-shadow: 2px 2px 10px peachpuff;
    color: chocolate;
    border: none;
    transition: top ease 0.5s;
    font-weight: 600;
}
.button#active {
    background-color: darksalmon;
    color: white;
}
.button:hover {
    cursor: url('/svgs/red-splat.svg'), auto;
    position: relative;
    top: -1px;
    box-shadow: 4px 4px 10px peru, 2px 2px 20px darksalmon;
}

/* this is for project cards */

.projectbody {
    border: 1px black solid;
    border-radius: 5px;
    width: 400px;
    margin: 10px;
    height: 400px;
    background-color: peachpuff;
}
.projecttitle {
    text-align: center;
    padding: 5px;
}
.projectmain {
    text-align: center;
    margin: 10px;
    height: 230px;
    border-radius: 5px;
}
.projectmain:hover {
    /* cursor: pointer; */
}    
.projectdescription {
    margin: 10px;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: cornsilk;
}
.techbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.techButton {
    border-radius: 20px;
    color: chocolate;
    background-color: pink;
    padding: 5px;
    min-width: 60px;
    text-align: center;
    font-size: small;
    font-weight: 600;
}
.projectimg {
    width: inherit;
    height: inherit;
    max-height: 230px;
    max-width: 380px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid black;
}

/* this is for project popup */
.popupwindow {
    position: fixed;
    z-index: 10;
    width: 500px;
    background-color: peachpuff;
    border: 1px solid black;
    border-radius: 5px;
}
.popimg {
    text-align: center;
}
.projectbanner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.techstack {
    display: flex;
    justify-content: space-around;
}
.description {
    margin: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: cornsilk;
}

.closebutton {
    padding: 5px;
    border-radius: 20px;
    background-color: pink;
    color: chocolate;
    border: none;
    font-weight: 600;
}

.closebutton:hover {
    /* cursor: pointer; */
    position: relative;
    top: -1px;
    box-shadow: 4px 4px 10px peru, 2px 2px 20px darksalmon;
}

/* this one is for review */
.reviewbody {
    background-color: pink;
    border-radius: 20px;
    height: 100%;
    min-width: 250px;
    min-height: 100px;
    text-align:center;
    padding: 10px;
    margin: 10px;
    animation: horizontalLoop 20s linear infinite;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.bottomsection {
    display: flex;
    justify-content: space-between;
}
@keyframes horizontalLoop {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-${carosel}px)
    }
}

/* svg card */
.svgbody {
    box-shadow: 2px 2px 10px peachpuff;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    transition: top ease 0.5s;
    background-color: peachpuff;
}
.svgbody:hover {
    box-shadow: 2px 2px 10px peachpuff, 4px 4px 10px pink;
    position: relative;
    top: -1px;
}    
.svgimg {
    margin: 10px;
}
