.projects {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
}
.h2 {
    text-align: center;
    margin: 5px;
}
.projectbody {
    display: flex;
    align-items: center;
    flex-direction: column;
}