:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --foreground: black;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover, a:hover {
  cursor:pointer;
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

hr {
    width: 100%;
    margin: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: peachpuff;
    border: none;
}
