:root {
  --background: #ffffff;
  --foreground: #171717;
  cursor:  url('/svgs/tomato.svg'), crosshair;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --foreground: black;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    text-decoration: underline;
  }
}

/* body:hover {
  cursor: url('/splat.png'), auto;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: pink;
    box-shadow: 2px 2px 10px peachpuff;
    color: chocolate;
    border: none;
    transition: top ease 0.5s;
    font-weight: 600;
}

button:hover, a:hover {
  cursor: url('/svgs/red-splat.svg'), auto;
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */

hr {
    width: 100%;
    margin: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: peachpuff;
    border: none;
}
