.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.navbutton {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: pink;
    box-shadow: 2px 2px 10px purple;
    color: white;
    text-shadow: 2px 2px 10px silver;
    border: none;
}

.navbutton:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px purple, 2px 2px 20px dodgerblue;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: pink;
}

.links {
    margin: 5px;
}

.links:hover {
    cursor: pointer;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}