.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: peachpuff;
}

.links {
    margin: 5px;
}

.links:hover {
   cursor: url('/svgs/red-splat.svg'), auto;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}