.aboutBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
}
.facts {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    margin-bottom: 20px;
}
.funfact {
    border: 2px dotted black;
    border-radius: 10px;
    margin: 5px;
    background-color: peachpuff;
    padding: 10px;
}
.answer {
    border: 2px dotted grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: peachpuff;
}

.bio {
    border: 2px dotted grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: peachpuff;
    text-align: center;
}

.img {
    box-shadow: 2px 2px 20px white, 4px 4px 15px silver;
    border: 3px dotted white;
    margin: 3px;
}

.h2 {
    text-align: center;
}
.li {
    font-weight: 600;
}
