.h1 {
    text-align: center;
}
.h2 {
    margin: 0 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.bio {
    text-align: center;
}
.group {
    margin: 10px;
    max-width: 50%;
}
.event {
    width: 100%;
}
.timeline, .section {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}
.topsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.highlight {
    background-color: cornsilk;
    padding: 4px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.section {
    margin: 10px;
    border: 1px solid black;
    background-color: peachpuff;
    padding: 10px;
}
.downloadbtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.ed {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 40px;
    text-align: left;
}

.edhighlight {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: cornsilk;
    padding: 4px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.sectionRow {
    margin: 10px;
    border: 1px solid black;
    background-color: peachpuff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}