.h2 {
    margin: 5px;
}
.designbody {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svgs {
    display: flex;
    margin: 0 80px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    justify-content: center;
}

.mockUp {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: peach-puff;
    margin: 10px;
}

.video {
    border-radius: 10px;
    margin: 10px 0;
}

.mockUp > p {
    color: grey;
}